.main-content {
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:0 auto;
}

.recipe-table {
    width:500px;
    border: 2px solid black;
    margin-top:20px;
}

.detailsContainer {
    width:700px;
    margin:0 auto;
    border: 2px solid green;
    padding: 20px;
    margin-top:30px;
}

.card {
    padding:10px;
    margin-bottom:10px;
}

.recipe-form {
    width:600px;
    border: 2px solid gold;
    align-items: center;
    padding:10px;
    margin:0 auto;
    margin-top:30px;
}

.form-items {
    display:flex;
    flex-direction: column;
}

.recipe-page-buttons {
    display:flex;
    justify-content: space-between;
}