.main-content {
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:0 auto;
}

.recipe-table {
    width:500px;
    border: 2px solid black;
}

.detailsContainer {
    width:700px;
    margin:0 auto;
    border: 2px solid green;
    padding: 20px;
    margin-top:30px;
}

.card {
    padding:10px;
    margin-bottom:10px;
}